<head>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/jquery-1.11.1.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>
	<script src="scripts/personalSite.js"></script>
	<script src="scripts/projects.js"></script>
	<script src="scripts/angular-youtube-embed.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<title>Eric Freeman</title>
</head>
<body>
	<div id="content" ng-app="personalSite">
		<header>
			<span>Eric Freeman</span>
			<ol>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/projects">Projects</a></li>
				<li><a href="https://github.com/EricFreeman" target="_blank">GitHub</a></li>
				<li><a href="resume.pdf" target="_blank">Resume</a></li>
			</ol>
		</header>
		<div>
			<ng-view>Loading...</ng-view>

			<script type="text/ng-template" id="home.html">
				<div class="aboutSection">
					<p class="title">I love to code.</p>
					<p class="pageDescription">
						I started programming in the fourth grade with Interplay&apos;s Learn To Program Basic, and have never looked back.  During the summer after seventh grade, I began attending Camp CAEN at the University of Michigan, an extremely challenging residential computer camp sponsored by U of M&apos;s engineering department, where I took classes on C#, C++, Java, HTML/CSS, Javascript, PHP, Web Design, and even 3D Modeling.  When I was in high school, I went back to Camp CAEN working as a counselor-in-training, taking on duties of assisting in the teaching process and helping students with their questions.  After graduating high school, I moved to Utah to attend Neumont University, attracted by their extremely intense and fast-paced learning environment.  I graduated college with a Bachelor of Science in Computer Science degree at age 20.  I immediately entered the industry, and am currently happily employed as a software engineer at 1-800 Contacts working for their e-commerce team.
					</p>
				</div>
				<div class="aboutSection">
					<p class="title">I love to learn.</p>
					<p class="pageDescription">
						Since graduating college, I strive to stay on a neverending path of learning.  Beyond keeping current with the latest technologies and reading tech blogs, I also actively attend local meetups including <a href="http://www.hacknightslc.com">HackNight SLC</a>, <a href="https://groups.google.com/forum/#!forum/utah-indie-games">Utah Indie Games Night</a>, and the annual Utah Code Camp.
					</p>
				</div>
				<div class="aboutSection">
					<p class="title">Let&apos;s talk.</p>
					<p class="pageDescription">
						While I am happily employed, I am always interested in freelance work, side projects, or challenging and rewarding opportunities.  Feel free to email me: <a href="mailto:eric@giantshaft.com">eric@giantshaft.com</a>.
					</p>
				</div>
			</script>

			<script type="text/ng-template" id="projects.html">
				<div class="pageDescription">
					<p>
						Below is a small sample of desktop programs, websites, and video games that I have developed over the years.
					</p>
					<p>
						Projects that display the icon &#9658; can be accessed online, some in playable form, others as demo videos, by clicking on the title.
					</p>
					<p>
						For projects that display the icon <img src="images/github.png" />, clicking the icon will take you to the source code.
					</p>
				</div>
				<div class="project" ng-repeat="project in projects">
					<p class="title">
						<span ng-if="! project.link">{{ project.name }}</span>
						<span ng-if="project.link"><a href="{{ project.link }}" target="_blank">{{ project.name }} &#9658;</a></span>
						<a class="github" ng-if='project.github' href="{{ project.github }}" target="_blank">
							<img src="images/github.png" />
						</a>
					</p>
					<p class="date">{{ project.date }}</p>
					<p class="description" ng-bind-html="trust(project.description)" />
					<div class="screenshots">
						<a ng-repeat="image in project.screenshots" href ng-click="selectImage(image)">
							<img ng-src="images/{{ image }}" />
						</a>
					</div>
					<div class="responsive-container" ng-show="!!project.youtube">
						<youtube-video video-id="project.youtube"></youtube-video>
					</div>
				</div>

				<div id="imageOverlay" ng-show="!!selectedImage" ng-click="deselectImage()">
					<img ng-src="images/{{ selectedImage }}" />
				</div>
			</script>
		</div>
	</div>
</body>
