<head>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/jquery-1.11.1.min.js"></script>
	<script src="scripts/angular-route.min.js"></script>
	<script src="scripts/personalSite.js"></script>
	<script src="scripts/projects.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<title>Eric Freeman</title>
</head>
<body>
	<div id="content" ng-app="personalSite">
		<header>
			<span>Eric Freeman</span>
			<ol>
				<li><a href="#/home">Home</a></li>
				<li><a href="#/projects">Projects</a></li>
				<li><a href="#/about">About</a></li>
				<li><a href="resume.docx">Resume</a></li>
			</ol>
		</header>
		<div>
			<ng-view>Loading...</ng-view>

			<script type="text/ng-template" id="home.html">
				<p>Homepage</p>
			</script>

			<script type="text/ng-template" id="projects.html">
				<div class="pageDescription">
					<p>
						Below is an incomplete collection of desktop programs, websites, and video games that I could still find on my <a href="http://github.com/EricFreeman">GitHub</a> account or around the Internet.  Some are published while others are incomplete or still work-in-progress.  Many have their source code publically available on my <a href="http://github.com/EricFreeman">GitHub</a>.
					</p>
					<p>
						&#9658; denotes that the game can be played online, downloaded to a computer, or installed to a phone.
					</p>
					<p>
					<img src="images/github.png" /> denotes that the project&apos;s source is available.
					</p>
				</div>
				<div class="project" ng-repeat="project in projects">
					<p class="title">
						<span>{{ project.name }}<span>
						<a ng-if='project.link' href="{{ project.link }}" target="_blank">&#9658;</a>
						<a class="github" ng-if='project.github' href="{{ project.github }}" target="_blank">
							<img src="images/github.png" />
						</a>
					</p>
					<p class="date">{{ project.date }}</p>
					<p class="description" ng-bind-html="trust(project.description)" />
					<div class="screenshots">
						<a ng-repeat="image in project.screenshots" href="images/{{ image }}" target="_blank">
							<img ng-src="images/{{ image }}" />
						</a>
					</div>
				</div>
			</script>

			<script type="text/ng-template" id="about.html">
				<div class="aboutSection">
					<p class="title">I love to code.</p>
					<p class="pageDescription">
						I started programming in the fourth grade with Interplay&apos;s Learn To Program Basic and never looked back.  During the summer after seventh grade, I began attending Camp CAEN at the University of Michigan where I took classes on C#, C++, Java, HTML/CSS, Javascript, PHP, Web Design, and even 3D Modeling.  When I was in high school, I went back to Camp CAEN working as a counselor-in-training, taking on duties of assisting the teaching process and helping students with their questions.  After graduating high school, I moved to Utah to attend Neumont University because of their high rates of graduate job placement, only 2.5 year graduation schedule, and enterprise projects.  I graduated college when I was 20 and immediately entered the industry.  I am currently happily employed working at Towers Watson for their Exchange Solutions branch.
					</p>
				</div>
				<div class="aboutSection">
					<p class="title">I love to learn.</p>
					<p class="pageDescription">
						Even though I graduated college some years ago, I strive to stay on a neverending path of learning.  Beyond keeping current with the latest technologies, I also actively attend local meetups including HackNight SLC, Utah Indie Games Night, and the annual Utah Code Camp.  I also enjoy Scott Hanselman&apos;s blog and reading Jeremy D. Miller&apos;s <a href="https://twitter.com/jeremydmiller/status/517754862659182592">passive</a> <a href="https://twitter.com/jeremydmiller/status/517405748968435713">agressive</a> <a href="https://twitter.com/jeremydmiller/status/517405935942131712">tweets</a>.
					</p>
				</div>
				<div class="aboutSection">
					<p class="title">Let&apos;s talk.</p>
					<p class="pageDescription">
						If you are a recruiter looking to fill a position and just stumbled upon this page, the best way to get in touch with me is through the use of smoke signals or carrier pigeons.  Otherwise, feel free to email me: <a href="mailto:eric@giantshaft.com">eric@giantshaft.com</a>.
					</p>
				</div>
				<div class="aboutSection">
					<p class="title">You should check these things out.</p>
					<ul class="pageDescription">
						<li><a href="http://www.hacknightslc.com">HackNight SLC</a></li>
						<li><a href="https://groups.google.com/forum/#!forum/utah-indie-games">Utah Indie Games</a></li>
						<li><a href="http://hanselman.com/blog">Scott Hanselman&apos;s blog</a></li>
						<li><a href="https://weblogs.asp.net/scottgu">Scott Gu&apos;s blog</a></li>
						<li><a href="http://jeremydmiller.com/">Jeremy D Miller&apos;s blog</a></li>
					</ul>
				</div>
			</script>
		</div>
	</div>
</body>
